@using Microsoft.AspNetCore.Identity
@using SignalRDemo.Data
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager


@{
  ViewData["Title"] = "Home Page";
}



<style type="text/css">
  .messageList {
  }

  .temp { }
  a.float-left {
    border: black;
  }
</style>


<div class="container">
  <div class="row">
    <input type="button" id="addAction01" value="Add Action #1" />
    &nbsp;
    <input type="button" id="addAction02" value="Add Action #2" />
    &nbsp;
    <input type="button" id="addAction03" value="Add Action #3" />
  </div>
</div>

<br />

<div class="text-center">
  @{
    if (_signInManager.IsSignedIn(User))
    {
      <p>
        Welcome:
        @if (User.Identity != null)
        {
          @User.Identity.Name
        }
      </p>

      @Html.Hidden("UserId", _userManager.GetUserId(User))

      <p>User Id: @_userManager.GetUserId(User)</p>

      <ul class="messageList">

        <li>
          <div class="temp"></div>
          <a href="https://localhost:44354/" class="float-left" data-notification-id="53">
            <div>
              <div>Application has been approved by "user1" at Thursday, June 3, 2021 1:58:10 PM</div>
            </div>
          </a>
        </li>

      </ul>
    }
  }
</div>
